$base-color-n: #34495e;
$base-color2-n: #2c3e50;
$base-color-d: #3498db;
$base-color2-d: rgba(93,52,236,1);

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

p,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    font-size: 1.5em;
    background: $base-color-d;

}


.display-ui{
    // background: $base-color-d;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    .group-relative{
        position:relative;
        width: 80%;
        max-width: 500px;
        margin: 20px 20px 20px 0;

        .searchIcon{
            position:absolute;
            right: 0px;
            top: 13px;
            border:none;
            border-radius:100%;
            outline:none;
            text-align:center;
            padding:2px;
            color: #95a5a6;
        }
    }

    input{
        height:50px;
        width: 100%;
        padding-left: 20px;
        border-radius: 7px;
        border:none;
        outline:none;
    }

    input:not(:placeholder-shown) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .closeButton{
        position:absolute;
        right: 0px;
        top: 13px;
        border:none;
        border-radius:100%;
        outline:none;
        text-align:center;
        padding:2px;
        background: #ecf0f1;
        cursor:pointer;
    }

    .closeButton:hover{
        background: #bdc3c7;
    }

    .display-search-geo{
        background: white;
        width: calc(100% + 22px);
        text-align: flex-start;
        position: absolute;
        top: 52px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        
        .display-item{
            padding: 3px;
            padding-bottom: 10px;
        }

        .display-item-text{
            display: flex;
            align-items: center;
            padding-left: 5px;

            .mark-icon{
                color: red;
                opacity: 0.4;
            }

            p{
                padding: 0;
                margin: 0;
            }
        }

        .display-item:hover{
            background-color: #bdc3c7;

            .mark-icon{
                opacity:1;
            }
        }

        .display-item:last-child:hover{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    // Display Style
    .current-weather-box{
        background-image: linear-gradient( 109.6deg,  rgba(62,161,219,1) 11.2%, rgba(93,52,236,1) 100.2% );
        width: 30em;
        max-width:70%;
        height: auto;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        display: grid;
        grid-template: 10% 1fr 2fr / repeat(3, 1fr) ;
        color: white;

        .current-name-time{
            grid-area: 1 / 2 span;

            p{
                font-size: 0.6em;
            }
        }
        .current-icon-temp{
            grid-area: 2 / 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            p{
                font-size: 2em;
                position: relative;
                right: 40px;
                margin-left: 10px;
            }
            .weather-icon{
                max-width: 5em;
                width: 100%;
                position: relative;
                right: 20px;
            }
        }
        .current-info{
            grid-area: 2 / 3;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 20px;
            // background: red;


            span{
                font-size: 1em;
            }
            p{
                font-size: 0.8em;
            }

            .flex-center{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .current-forecast{
            grid-area: 3 / 3 span;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow: auto;
            overflow-y: hidden;
            gap: 10px;

            div{
                // background-color: red;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 20px;
            }
        }
    }

}

@media screen and (max-width: 760px){
    .display-ui{
        width: auto;
    }
}
@media screen and (max-width: 420px){
    .display-ui{
        font-size: 0.8em;
    }
    
}
