body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 100vw;
    height: 100vh;
    background: #ecf0f1;
    font-size: 25px;
}

.display-ui{
    background: #2980b9;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    input{
        width: 80%;
        max-width: 500px;
        margin-top: 10px;
        padding: 20px;
        border: 0;
    }
    .display-search-geo{
        background: #2c3e50;
        width: 80%;
        max-width: 500px;
        text-align: center;
        margin: 10px;
        color: white;
        border-radius: 10px;
        .display-item{
            padding: 3px;
        }
        .display-item:hover{
            background-color: #bdc3c7;
            color: #2c3e50;
            font-weight: bold;
            cursor: pointer;
            padding: 10px;
        }
    }
}

@media screen and (max-width: 760px){
    .display-ui{
        width: 100%;
    }
}
