body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  font-size: 1.5em;
}

.display-ui {
  background: #3498db;
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.display-ui .group-relative {
  position: relative;
  width: 80%;
  max-width: 500px;
  margin: 20px 20px 20px 0;
}
.display-ui .group-relative .searchIcon {
  position: absolute;
  right: 0px;
  top: 13px;
  border: none;
  border-radius: 100%;
  outline: none;
  text-align: center;
  padding: 2px;
  color: #95a5a6;
}
.display-ui input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  border-radius: 7px;
  border: none;
  outline: none;
}
.display-ui input:not(:placeholder-shown) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.display-ui .closeButton {
  position: absolute;
  right: 0px;
  top: 13px;
  border: none;
  border-radius: 100%;
  outline: none;
  text-align: center;
  padding: 2px;
  background: #ecf0f1;
  cursor: pointer;
}
.display-ui .closeButton:hover {
  background: #bdc3c7;
}
.display-ui .display-search-geo {
  background: white;
  width: calc(100% + 22px);
  text-align: flex-start;
  position: absolute;
  top: 52px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.display-ui .display-search-geo .display-item {
  padding: 3px;
  padding-bottom: 10px;
}
.display-ui .display-search-geo .display-item-text {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.display-ui .display-search-geo .display-item-text .mark-icon {
  color: red;
  opacity: 0.4;
}
.display-ui .display-search-geo .display-item-text p {
  padding: 0;
  margin: 0;
}
.display-ui .display-search-geo .display-item:hover {
  background-color: #bdc3c7;
}
.display-ui .display-search-geo .display-item:hover .mark-icon {
  opacity: 1;
}
.display-ui .display-search-geo .display-item:last-child:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.display-ui .current-weather-box {
  background-image: linear-gradient(109.6deg, rgb(62, 161, 219) 11.2%, rgb(93, 52, 236) 100.2%);
  width: 40em;
  max-width: 70%;
  height: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template: 10% repeat(2, 1fr)/repeat(3, 1fr);
  color: white;
}
.display-ui .current-weather-box .current-name-time {
  grid-area: 1/2 span;
}
.display-ui .current-weather-box .current-name-time p {
  font-size: 0.6em;
}
.display-ui .current-weather-box .current-icon-temp {
  grid-area: 2/1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.display-ui .current-weather-box .current-icon-temp p {
  font-size: 2em;
  position: relative;
  right: 40px;
  margin-left: 10px;
}
.display-ui .current-weather-box .current-icon-temp .weather-icon {
  max-width: 5em;
  width: 100%;
  position: relative;
  right: 20px;
}
.display-ui .current-weather-box .current-info {
  grid-area: 2/3;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.display-ui .current-weather-box .current-info span {
  font-size: 1em;
}
.display-ui .current-weather-box .current-info p {
  font-size: 0.8em;
}
.display-ui .current-weather-box .current-info .flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-ui .current-weather-box .current-forecast {
  grid-area: 3/3 span;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  gap: 10px;
}
.display-ui .current-weather-box .current-forecast div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .display-ui {
    width: auto;
  }
}
@media screen and (max-width: 420px) {
  .display-ui {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=style.css.map */
