body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

.App{
    width: 100vw;
    height: 100vh;
    background: #ecf0f1;
    font-size: 25px;
}

.display-ui{
    background: #2980b9;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    // justify-content: flex-start;
    flex-direction: column;
    position: relative;

    .group-relative{
        position:relative;
        width: 80%;
        max-width: 500px;
        margin-top: 10px;
        margin-right: 20px;
    }

    input{
        height:50px;
        width: 100%;
        padding-left: 20px;
        border-radius: 7px;
        border:none;
        outline:none;
    }

    input:not(:placeholder-shown) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    button{
        position:absolute;
        right: 0px;
        top: 13px;
        border:none;
        border-radius:100%;
        outline:none;
        text-align:center;
        padding:2px;
        background: #ecf0f1;
        cursor:pointer;
    }
    .material-symbols-outlined:hover{
        background: #bdc3c7;
    }

    .display-search-geo{
        background: white;
        width: calc(100% + 22px);
        text-align: flex-start;
        position: absolute;
        top: 52px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        
        .display-item{
            padding: 3px;
            padding-bottom: 10px;
        }

        .display-item-text{
            padding-left: 15px;
        }

        .display-item:hover{
            background-color: #bdc3c7;
        }

        .display-item:last-child:hover{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        // .display-item:last-child > div:hover {
        //     border-bottom-right-radius: 10px;
        //     border-bottom-left-radius: 10px;
        //     color:red;
        // } 
    }
}

@media screen and (max-width: 760px){
    .display-ui{
        width: 100%;
    }
}
